.contato {
    background-color: var(--branco);
    padding: 1em;
}
.contato-titulo,
.contato-texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.contato-titulo {

    font-weight: 500;
}
.contato