:root{
    --cor-de-fundo:#ebecee;
    --branco:whaite;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52,35,49%, #326589, 165.37);
    --font-principal: "poppins";
    --azul; 
    --fonte-secundaria: "Josefin Sans";
}
body{
    background-color: var(--cor-de-fundo);
    --font-family: var(--font-principal);
    --font-size: 16px;
    --font-weight: 400;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}
h1{
    background-color: white;
}
@import url('styles/heder.css');
@import url('styles/carrosel.css');
@import url('styles/carrosel.css');
@import url('styles/rodape.css');
.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    }
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
 }